@import "../../node_modules/tom-select/dist/css/tom-select.bootstrap5.min.css";
@import "../../node_modules/flatpickr/dist/flatpickr.min.css";

.table-responsive .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.table-responsive .form-check-input {
    position: static !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 150px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #69BD45;
    border: 1px solid #69BD45;
    color: #fff;
}


.alert {
    transition: all 0.3s ease;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.category-card {
    border: 1px solid #e9ecef;
    border-radius: 0.375rem;
    padding: 4px 0.5rem;
    text-align: center;
    transition: all 0.3s ease;
}

.category-card p {
    margin: 0;
}

.category-card:hover {
    border-color: #28a745;
    background-color: #e9f5ee;
    color: #28a745;
    cursor: pointer;
}

.category-card.active {
    border-color: #28a745;
    background-color: #c3e6cb;
    color: black;
}


.images-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 5px;
    margin: 40px auto;
}

.images-container.variant {
    max-height: 250px !important;
    overflow-y: auto !important;
}

.images-container .single-file-card {
    background: rgba(208, 208, 208, 0.466);
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.single-file-card .checked-icon {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 23px;
    height: 23px;
    background-size: contain;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.single-file-card.active {
    background: rgba(98, 149, 197, 0.616);
    border-radius: 5px;
    cursor: pointer;
}

.single-file-card:hover {
    background: rgba(146, 146, 146, 0.616);
    border-radius: 5px;
    cursor: pointer;
}

.other-images-container>div {
    background: rgba(208, 208, 208, 0.466);
    border-radius: 5px;
    overflow: hidden;
}